@model ICollection<FantasyTeamViewModel>

@{
    ViewBag.Title = "Draft Lottery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
	<script type="text/javascript">
		var lastPick = 0;
		var eligibleItems = shuffle([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]);

		(function ($) {
			$(document)
				.on("click", ".js-start", function () {
					$(".ineligible").addClass("eligible").removeClass("ineligible");
					startLotto();
				});

				var today = new Date();
				var draftTime = new Date("09-02-2015 20:00");
				var diffMs = (draftTime - today); // milliseconds between now & Christmas
				var diffDays = Math.round(diffMs / 86400000); // days
				var diffHrs = Math.round((diffMs % 86400000) / 3600000); // hours
				var diffMins = Math.round(((diffMs % 86400000) % 3600000) / 60000); // minutes

				var fiveMinutes = diffMins * 60, display = $('.countdown h1');
				startTimer(fiveMinutes, display);
		}(jQuery));
		
		function startLotto() {
			lastPick = 0;
			$(".js-start").hide();
			randomDraw(0, Math.floor(Math.random() * 50) + 20, 100, true);
		}

		function randomDraw(ndx, interations, timeout, firstLoop) {
			if (ndx <= interations) {
				ndx += 1;
				setTimeout(function () {

					if (lastPick >= eligibleItems.length) {
						lastPick = 0;
						shuffle(eligibleItems);
					}

					var teamId = eligibleItems[lastPick];
					lastPick += 1;

					$(".selected").removeClass("selected");
					$(".eligible[data-team-id=" + teamId + "]").addClass("selected");

					if (ndx == interations) {
						if (firstLoop) {
							randomDraw(0, Math.floor(Math.random() * 5) + 1, 500, false);
						} else {
							$(".draftOrder").prepend("<dt>" + parseInt($(".eligible").length) + "</dt><dd>" + $(".selected").attr("data-team-name") + " - " + $(".selected").attr("data-team-coach") + "</dd>");
							$(".selected").removeClass("eligible").addClass("ineligible");
							lastPick = teamId;
							eligibleItems.splice(eligibleItems.indexOf(teamId), 1);

							if (eligibleItems.length == 1) {
								team = eligibleItems[0];
								$(".draftOrder").prepend("<dt>1</dt><dd>" + $(".eligible[data-team-id=" + team + "]").attr("data-team-name") + " - " + $(".eligible[data-team-id=" + team + "]").attr("data-team-coach") + "</dd>");
								$(".eligible[data-team-id=" + team + "]").removeClass("eligible").addClass("ineligible");
							} else {
								setTimeout(function () { startLotto(); }, 4000)
							}
						}
					} else {
						randomDraw(ndx, interations, timeout, firstLoop);
					}
				}, timeout);
			}
		}

		function shuffle(array) {
			var currentIndex = array.length, temporaryValue, randomIndex;

			// While there remain elements to shuffle...
			while (0 !== currentIndex) {

				// Pick a remaining element...
				randomIndex = Math.floor(Math.random() * currentIndex);
				currentIndex -= 1;

				// And swap it with the current element.
				temporaryValue = array[currentIndex];
				array[currentIndex] = array[randomIndex];
				array[randomIndex] = temporaryValue;
			}

			return array;
		}

		function startTimer(duration, display) {
			var timer = duration, minutes, seconds;
			setInterval(function () {
				minutes = parseInt(timer / 60, 10);
				seconds = parseInt(timer % 60, 10);

				minutes = minutes < 10 ? "0" + minutes : minutes;
				seconds = seconds < 10 ? "0" + seconds : seconds;

				display.text(minutes + ":" + seconds);

				if (--timer < 0) {
					timer = duration;
				}
			}, 1000);
		}
	</script>
}

<h2>Draft Lottery</h2>

<div class="countdown" style="display: none;">
	<div class="jumbotron" style="text-align: center;">
		<h1>Draft Order</h1>
	</div>
</div>
<form action="/charge" method="POST">
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
			data-image="/img/documentation/checkout/marketplace.png"
			data-name="Stripe.com"
			data-description="2 widgets"
			data-amount="2000"
			data-panel-label="Subscribe"
			data-locale="auto">
	</script>
</form>
<div class="lottery">
	<div class="jumbotron" style="float: left; width: 40%">
		<h1>Draft Order</h1>
		<dl class="draftOrder"></dl>
	</div>

	<div class="row">
		<div class="col-md-1" />
	</div>

	<div class="row" style="float: left; width: 50%; overflow: hidden">
		@foreach (var team in Model)
		{
			<div class="col-md-4 eligible" style="height: 125px;" data-team-id="@team.Id" data-team-name="@team.TeamName" data-team-coach="@team.Coach">
				<h2>@team.TeamName</h2>
			</div>
		}
		<div style="clear: both"></div>
		<div style="padding-top: 25px;">
			<input type="button" value="Start" class="js-start" />
		</div>
	</div>
</div>

<div style="clear: both"></div>
