body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

dl {
	width: 100%;
}

dt {
	float: left;
	text-align: right;
	margin-right: 4%;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.selected {background-color: red;}
.draftOrder dt {float: left; }
.ineligible {color: grey;}